//paleta de colores
$keycolor: rgb(0, 0, 0);
$secondarycolor: rgba(255, 255, 255, 0.220);
$negro-alfa90: rgba(0, 0, 0, 0.90);
$negro-alfa40: rgba(0, 0, 0, 0.40);
$blancoGris: rgb(230, 230, 230);
$blanco: rgb(255, 255, 255);
$blanco-alfa90: rgba(255, 255, 255, 0.90);
$blanco-alfa40: rgba(255, 255, 255, 0.40);
$amarillo: rgba(233, 210, 0, 0.63);
$verde-alfa: rgba(0, 92, 0, 0.747);
$verde: rgba(0, 92, 0);


//Bg
$tigre-texturagris-light: url("../imagenes/tig-gray-textured-background.webp");
$tigre-texturagris-dark: url("../imagenes/tig-graydark-textured");


//maps SASS

$margings: (
    'normal': 20px 20px 20px 20px,
    'estrecho': 10px 10px,
    'moderado': 30px 30px,
    'ancho': 40px 40px,

    'arriba-normal': 20px,
    'arriba-estrecho': 10px,
    'arriba-moderado': 30px,
    'arriba-ancho': 40px,

    'abajo-normal': 20px,
    'abajo-estrecho': 10px,
    'abajo-moderado': 30px,
    'abajo-ancho': 40px,
);

$paddings:(
    'normal': 20px 20px,
    'estrecho': 10px 10px,
    'moderado': 30px 30px,
    'ancho': 40px 40px,
    'laterales': 10px 30px,

    'arriba-normal': 20px,
    'arriba-estrecho': 10px,
    'arriba-moderado': 30px,
    'arriba-ancho': 40px,

    'abajo-normal': 20px,
    'abajo-estrecho': 10px,
    'abajo-moderado': 30px,
    'abajo-ancho': 40px,
);

$bordes:(
    'bordeRedondeado': 1.5rem,
    'bordeBola': 100%,
    'bordeSm': solid 4px,
    'bordeLg': solid 8px,
);

$imagenes-size:(
    'imgXS': 60px,
    'imgSM': 150px,
    'imgMD': 400px,
);

$franjas-height:(
'fanjaSM': 100px,
'franjaMD': 150px,
);

@mixin bg-paginas100 ($imagen){
    background-image: $imagen;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bg-pagina-dark{
    @include bg-paginas100 ($tigre-texturagris-dark);
}

.bg-pagina-light{
    @include bg-paginas100 ($tigre-texturagris-light);
}

.bg-blanco-page{
    @include bg-paginas100 ($blancoGris);
}

@mixin flex($direc, $justify, $align, $wrap) {
    display: flex; 
    flex-direction: $direc;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin align-flex-vertical ($align) {
    display: flex;
    align-items: $align;
}
   

@mixin align-flex-horizontal ($justify) {
    display: flex;
    justify-content: $justify;
}


#fondo-black{
    background-color: $negro-alfa90;
    color: $blanco;
    }

.bg-black{
    background-color: $negro-alfa90;
    color: $blanco; 
}

#bg-wite{
    background-color: $blanco-alfa90;
    color: $keycolor;
}

#bg-alfa-withe{
    background-color:$secondarycolor;
}

#bg-alfa-black{
    background-color: $negro-alfa40;
}

 //link de mapas y video

.mapas-s{
    border-radius: map-get($map: $bordes, $key: 'bordeRedondeado');

    }

//botones
.btn-black{
    background-color: $keycolor;
    color: $blancoGris;
    }

.btn-withe{
    background-color: $blanco;
    color: $keycolor;
    }
    
.btn-black--alfa{
    background-color: $negro-alfa40;
    color: $blanco;
    }

.icon_green{
    color: $verde;
    }





//imagenes general     
.img_m{
    width: map-get($map: $imagenes-size, $key: 'imgMD');
    }

.img_m-redondeado{
    @extend .img_m;
     border-radius: map-get($map:$bordes, $key: 'bordeRedondeado');
     border: 'bordeSm' $negro-alfa40;
}

.img_m-bola-shadow{
    @extend .img_m ;
    border-radius: map-get($map:$bordes, $key: 'bordeBola');
    box-shadow: 2rem;
}

.img_xs{
    width: map-get($map: $imagenes-size, $key: 'imgXS');
    margin: map-get($map: $margings, $key: 'estrecho');
}

.img_sm{
    width: map-get($map: $imagenes-size, $key: 'imgSM');
}


//margenes general
#row-card{
    @include align-flex-vertical(center);
        div{
            img{
             border-radius: map-get($map: $bordes, $key: 'bordeRedondeado');
            }
        }
}

.margin_bt{
    margin: 20px auto;
    text-align: center;
    }

.margin_f{
    margin: map-get($map: $margings, $key: 'moderado');
    text-align: center;
    }

.margin-normal{
    margin: map-get($map: $margings, $key: 'normal');
}

.margin-lateral{
    margin: map-get($map: $margings, $key: 'lateral');
}

.margin-moderado{
    margin: map-get($map: $margings, $key: 'moderado');
}

.margin-estrecho{
    margin: map-get($map: $margings, $key: 'estrecho');
}

.margin-ancho{
    margin: map-get($map: $margings, $key: 'ancho');
}

.marg-top-normal{
    margin-top: map-get($map: $margings, $key: 'arriba-normal');
}



//align

.item_colum{
    @include flex(column, center, center, nowrap);
    width: 100% ;
}



//TIENDA
#productos{
    @include flex(row, space-around, center, wrap);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    color: $keycolor;
}

//NOSOTROS

.padding-estrecho{
    padding: map-get($map: $paddings, $key: 'normal');
}

#icons{
    @include flex(row, space-evenly, center, nowrap);
    background-color: $blanco-alfa40;
    justify-content: space-evenly;
    width: 100%;
    border: map-get($map: $bordes, $key: 'bordeRedondeado');
}


.hist{
    @include flex(row, space-evenly, center, nowrap);
    align-self: center;
    margin: map-get($map: $margings, $key: 'normal');
}


#ini{
    @include flex(row, space-evenly, center, wrap);
    align-self: center;
    margin: map-get($map: $margings, $key: 'normal');
}

#posi{
    @include flex(row, space-evenly, center, wrap);
    align-self: center;
    margin: map-get($map: $margings, $key: 'normal');
    background-color: $negro-alfa40;
}

#now{
    @include flex(row, space-evenly, center, wrap);
    align-self: center;
    margin: map-get($map: $margings, $key: 'normal');
}

.enti{
    @include flex(row, space-evenly, center, wrap); 
}

//MAPAS


#mapas-flex{
    @include flex(row, center, space-evenly, nowrap);
    margin: map-get($map: $margings, $key: 'estrecho');
}

#mapas-contacto{
    section{
        iframe{
            width: 400px;
        }
    }
}

//clases
#article-center{
    @extend #articles-wi ;
    display: flex;
    justify-content: center;
}







