@font-face {
    font-family: japon;
    src: url(../1.css/go3v2.ttf) format("truetype");
    src: url(../1.css/go3v2.ttf) format("truetype"); 
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;500&display=swap');

$MainFont: Roboto;
$secondaryfont: japon;
$SecondTitleFont: Bebas+Neue&; 

//maps SASS
$text-weight:( 
    'textbold': 700,
    'textregular': 400,
    'textlight': 100,
);

//sizings
$textSm:  1rem;
$textMd: 1.5rem;
$textLg: 2.5rem;
$textxxl: 10rem;

//archivo
.decoration-none{
    text-decoration: none;  
}

.negrita-font{
    font-weight: map-get($map: $text-weight, $key: 'textbold');  
}

.japon-font_dark{
    font-family: $secondaryfont, $SecondTitleFont;
    color: $keycolor; 
}

.japon-font_light{
    font-family: $secondaryfont, $SecondTitleFont;
    color: $blanco;
}

.bebas-font_light{
    font-family: $SecondTitleFont;
    color: $blanco;
}

.font-s{
    font-size: $textSm;
}

.font-m{
    font-size: $textMd;
}

.font-xxl{
    font-size: $textxxl;
}

.font-center{
    text-align: center;
    align-items: center;
    justify-content: center;
}


.text-vertical{
    writing-mode: vertical-rl;
    font-weight: map-get($map:  $text-weight, $key:'textbold');
    font-family: $secondaryfont, $SecondTitleFont;
    text-align: center;
}

.text-vertical-bold{
    @extend .text-vertical;
    font-weight: map-get($map: $text-weight, $key: 'textbold');
 }

#parrafo-m{
    font-size: $textSm;
    font-weight: map-get($map: $text-weight, $key: 'textregular');
    font-family: $MainFont;
    background-color: $secondarycolor;
    padding: map-get($map: $paddings, $key: 'estrecho');
 } 



#titulo-1{
    margin: map-get($map: $margings, $key: 'arriba-moderado') auto;
    text-align: center;
}

#titulo-1_japon{
    @extend #titulo-1 ;
    font-family: $secondaryfont;
}


//figures 
#font_figure{
    text-align: center;
    color: $keycolor;
}

body{
    header{
        h1{
            font-family: $SecondTitleFont;
            color: $blanco; 
        }
    }
}

//tienda
#caption_black{
    color: $negro-alfa40;
}