

//articles
#articles-base{
    color: $keycolor;
    margin-top: 15px;
}

#articles-wi {
    background-color:$secondarycolor;
    color: $keycolor;
    margin-top: map-get($map: $margings, $key: 'arriba-normal');
}

#articles-neg {
    background-color:$negro-alfa90;
    color:$blanco;
    margin-top: 15px;
}

.articles_flex{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-around;
}




//otros
.bg_dark{
    background-color: $negro-alfa90;
    margin: auto auto 10px auto;
    height: map-get($map: $franjas-height, $key: 'franjaMD');
    color: $blanco;
}