@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;500&display=swap");
.bg-pagina-dark {
  background-image: url("../imagenes/tig-graydark-textured");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-pagina-light {
  background-image: url("../imagenes/tig-gray-textured-background.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-blanco-page {
  background-image: rgb(230, 230, 230);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#fondo-black {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
}

#bg-wite {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
}

#bg-alfa-withe {
  background-color: rgba(255, 255, 255, 0.22);
}

#bg-alfa-black {
  background-color: rgba(0, 0, 0, 0.4);
}

.mapas-s {
  border-radius: 1.5rem;
}

.width-mapas {
  width: 40%;
  justify-content: center;
}

.btn-black {
  background-color: rgb(0, 0, 0);
  color: rgb(230, 230, 230);
}

.btn-withe {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.btn-black--alfa {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
}

.icon_green {
  color: rgb(0, 92, 0);
}

.img_m, .img_m-bola-shadow, .img_m-redondeado {
  width: 400px;
}

.img_m-redondeado {
  border-radius: 1.5rem;
  border: "bordeSm" rgba(0, 0, 0, 0.4);
}

.img_m-bola-shadow {
  border-radius: 100%;
  box-shadow: 2rem;
}

.img_xs {
  width: 60px;
  margin: 10px 10px;
}

.img_sm {
  width: 150px;
}

#row-card {
  display: flex;
  align-items: center;
}
#row-card div img {
  border-radius: 1.5rem;
}

.margin_bt {
  margin: 20px auto;
  text-align: center;
}

.margin_f {
  margin: 30px 30px;
  text-align: center;
}

.margin-normal {
  margin: 20px 20px 20px 20px;
}

.margin-moderado {
  margin: 30px 30px;
}

.margin-estrecho {
  margin: 10px 10px;
}

.margin-ancho {
  margin: 40px 40px;
}

.marg-top-normal {
  margin-top: 20px;
}

.item_colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

#productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  color: rgb(0, 0, 0);
}

.padding-estrecho {
  padding: 20px 20px;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: space-evenly;
  width: 100%;
  border: 1.5rem;
}

.hist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  align-self: center;
  margin: 20px 20px 20px 20px;
  flex-wrap: nowrap;
}

.sub-hist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  align-self: center;
  width: auto;
}

#ini {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  margin: 20px 20px 20px 20px;
}

#posi {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  margin: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

#now {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  margin: 20px 20px 20px 20px;
}

.enti {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#mapas-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: nowrap;
  margin: 10px 10px;
}

#mapas-contacto {
  flex-direction: column;
  flex-wrap: nowrap;
}
#mapas-contacto section iframe {
  width: 90%;
}

#article-center {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: japon;
  src: url(../1.css/go3v2.ttf) format("truetype");
  src: url(../1.css/go3v2.ttf) format("truetype");
}
.decoration-none {
  text-decoration: none;
}

.negrita-font {
  font-weight: 700;
}

.japon-font_dark {
  font-family: japon, BebasNeue;
  color: rgb(0, 0, 0);
}

.japon-font_light {
  font-family: japon, BebasNeue;
  color: rgb(255, 255, 255);
}

.bebas-font_light {
  font-family: BebasNeue;
  color: rgb(255, 255, 255);
}

.font-s {
  font-size: 1rem;
}

.font-m {
  font-size: 1.5rem;
}

.font-xxl {
  font-size: 10rem;
}

.font-center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.text-vertical, .text-vertical-bold {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-weight: 700;
  font-family: japon, BebasNeue;
  text-align: center;
}

.text-vertical-bold {
  font-weight: 700;
}

#parrafo-m {
  font-size: 1rem;
  font-weight: 400;
  font-family: Roboto;
  background-color: rgba(255, 255, 255, 0.22);
  padding: 10px 10px;
}

#titulo-1, #titulo-1_japon {
  margin: 30px auto;
  text-align: center;
}

#titulo-1_japon {
  font-family: japon;
}

#font_figure {
  text-align: center;
  color: rgb(0, 0, 0);
}

body header h1 {
  font-family: BebasNeue;
  color: rgb(255, 255, 255);
}

#caption_black {
  color: rgba(0, 0, 0, 0.4);
}

#botonera {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
}
#botonera img {
  width: 60px;
}

#navbarSupportedContent ul li a:hover, #navbarSupportedContent ul li a:focus, #navbarSupportedContent ul li a:active {
  text-decoration: none;
  color: inherit;
  text-overflow: clip;
}

nav ul li a:hover {
  font-size: 1rem;
  font-weight: 700;
}

#footer- {
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 15%;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 40px;
}
#footer- img {
  width: 60px;
}

.foot-icon {
  width: 60px;
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px;
}

#articles-base {
  color: rgb(0, 0, 0);
  margin-top: 15px;
}

#articles-wi, #article-center {
  background-color: rgba(255, 255, 255, 0.22);
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

#articles-neg {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

.articles_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.bg_dark {
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
  height: 150px;
  color: rgb(255, 255, 255);
}

.parrafo {
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .img_m, .img_m-redondeado, .img_m-bola-shadow {
    width: 280px;
  }
  .row {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90%;
    height: auto;
  }
  .bg_dark {
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding: 10px 10px;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mapas-s {
    margin: 20px auto;
  }
  .articles_flex {
    align-items: center;
    margin-bottom: 20px;
  }
  #mapas-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    flex-wrap: nowrap;
  }
  h1 {
    text-align: center;
    justify-content: center;
  }
  #row-card {
    flex-wrap: nowrap;
    align-items: center;
  }
  #icons div img {
    width: 60px;
  }
  #mapas-contacto {
    justify-content: center;
    width: 400px;
  }
  #mapas-contacto section iframe {
    width: auto;
  }
  .width-mapas {
    width: 100%;
  }
  .hist {
    flex-direction: column;
  }
  .enti {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */