@font-face {
    font-family: 'japon';
    src: url([ ttf (./fuente/go3v2) ] | local( <gang of three> ))
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;500&display=swap');


a:hover, a:focus, a:active {
    text-decoration: none; 
}

.decoration-none{
    text-decoration: none;
    
}

#botonera img{
    width: 50px;
}


.bg-black{
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
}

.japon-font_dark{
    font-family: japon, Bebas;
    color: black; 
}

.japon-font_light{
    font-family: japon, Bebas+Neue&family;
    color: white;
}

.font-s{
    font-size: small;
}

.font-m{
    font-size: medium;
}

.font_center{
    text-align: center;
}


body{
    background-image: url(../imagenes/tig-gray-textured-background.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}



#articles {
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    margin-top: 15px;
}

.articles_flex{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-around;
}

.item_colum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg_dark{
    background-color:  rgba(0, 0, 0, 0.89);
    margin: auto auto 10px auto;
    height: 130px;
    color: white;
}



