@font-face {
    font-family: 'japon';
    src: url ('/fuente/go3v2.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto:wght@300&display=swap');


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit; }

#botonera img{
    width: 50px;
    color: white;
}


.bg-black{
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
}

.japon-font_dark{
    font-family: japon, Rampart One;
    color: black; 
}

.japon-font_light{
    font-family: japon, Rampart One;
    color: white;
}

.font-s{
    font-size: small;
}

.font-m{
    font-size: medium;
}

body{
    background-image: url(../imagenes/tig-gray-textured-background.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}



